<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_manager_site.master" AutoEventWireup="true" CodeFile="editexam.aspx.cs" Inherits="editexam" Title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="editexamcontrol" Src="~/controls/editexamcontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:editexamcontrol ID="wusEditExamControl" runat="server" />
</asp:Content>

