<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_manager_site.master" AutoEventWireup="true" CodeFile="userinfo.aspx.cs" Inherits="userinfo" Title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="userinfocontrol" Src="~/controls/userinfocontrol.ascx"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:userinfocontrol ID="wusUserInfoControl" runat="server" />
</asp:Content>

