<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_manager_site.master" AutoEventWireup="true" CodeFile="viewsinglequestion.aspx.cs" Inherits="viewsinglequestion" Title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="examquestioncontrol" Src="~/controls/examquestioncontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:examquestioncontrol ID="wusExamQuestionControl" runat="server" />
</asp:Content>

