﻿body
{
}

.accordionHeader
{
    font-size: 12px;
    padding: 3px 3px 3px 3px;
}

.accordionContent
{
    text-align: left;
    font-size: 12px;
    padding: 3px 3px 3px 3px;
    border: solid 1px black;
}

.buttons
{
    font-size: 12px;
    border: 1px;
    border-color: Black;
    background-color: #DFDFDF;
    width: 80px;
}

.errorline
{
    font-size: 12px;
    /*font-weight: bold;*/
}

.lbuttons
{
    font-weight: bold;
    color: Black;
}

.linkbutton
{
    color: Black;
    font-size: 12px;
    font-weight: bold;
}

.midHeader
{
    color: Black;
    font-size: 14px;
    font-weight: bold;
}

.panelStandard
{
    background-color: #FFFFFF;
    font-size: 12px;
    vertical-align: middle;
}

.generic
{
    font-size: 12px;
    background-color: #FFFFFF;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup
{
    border: 5px black;
    border-style: solid;
    background-color: #FFFFFF;
    font-size: 12px;
}

.smallText
{
    color: Black;
    font-size: 12px;
    font-variant: small-caps;
}

.subHeader
{
    color: Black;
    font-size: 10px;
}

.testQuestion
{
    color: Black;
    font-weight: bold;
    font-size: 14px;
}

.validatorStyle
{
    font-size: small;
    color: Red;
}

.warning
{
    font-size: 11px;
    font-style: italic;
    color: #BFBFBF;
}


.gridPager
{
    text-align: center;
    color: Black;
    font-weight: bold;
}

.HoverStyle
{
    font-size: small;
    padding: 0px 5px 0px 5px;
    color: Black;
}

.linkButtons
{
    font-size: 11px;
    color: Black;
    font-weight: bold;
}

.MenuStyle
{
    font-size: x-small;
    padding: 0px 5px 0px 5px;
    color: Black;
}

.panelStandard
{
    background-color: #FFFFFF;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-color: Black;
}

.SelectedStyle
{
    font-size: x-small;
    padding: 0px 5px 0px 5px;
    color: White;
    background-color: Black;
}

.tabName
{
    padding-left: 5px;
    font-weight: bold;
    font-size: medium;
    background-color: #B6CAE3;
    color: Navy;
}

.validatorStyle
{
    font-size: small;
    color: Red;
}

H1
{
    padding-left: 5px;
    font-weight: bold;
    font-size: large;
    background-color: #B6CAE3;
    color: Navy;
}

H2
{
    padding-left: 5px;
    font-weight: bold;
    font-size: medium;
    background-color: #B6CAE3;
    color: Navy;
}

H3
{
    padding-left: 5px;
    font-weight: bold;
    font-size: small;
    background-color: #B6CAE3;
    color: Navy;
}

H4
{
    padding-left: 5px;
    font-weight: bold;
    font-size: x-small;
    background-color: #B6CAE3;
    color: Navy;
}

BODY, html, form, label
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
}
BODY
{
    color: Navy;
}

A:visited
{
    color: #0000ff;
    text-decoration: none;
}

A:Hover
{
    background-attachment: fixed;
}

A
{
    color: #0000ff;
    text-decoration: none;
}

SELECT
{
    /*font-weight: bold;*/
    font-size: 11px;
    color: #000000;
}
INPUT
{
    /*font-weight: bold;*/
    font-size: 11px;
    color: #000000;
}

P
{
    font-size: 11px;
    padding-bottom: 10px;
    margin: 5px 20px 0px;
    color: #000000;
}
