﻿.MenuStyle
{
    font-size: x-small;
    padding: 0px 5px 0px 5px;
    color: Black;
}
.HoverStyle
{
    font-size: small;
    padding: 0px 5px 0px 5px;
    color: Black;
}

.SelectedStyle
{
    font-size: x-small;
    padding: 0px 5px 0px 5px;
    background-color: Black;
}

.tabName
{
    padding-left: 5px;
    font-weight: bold;
    font-size: medium;
    background-color: #B6CAE3;
    color: Navy;
}

H1
{
    padding-left: 5px;
    font-weight: bold;
    font-size: large;
    background-color: #B6CAE3;
    color: Navy;
}

H2
{
    padding-left: 5px;
    font-weight: bold;
    font-size: medium;
    background-color: #B6CAE3;
    color: Navy;
}

H3
{
    padding-left: 5px;
    font-weight: bold;
    font-size: small;
    background-color: #B6CAE3;
    color: Navy;
}

H4
{
    padding-left: 5px;
    font-weight: bold;
    font-size: x-small;
    background-color: #B6CAE3;
    color: Navy;
}


TR
{
    border-right: 0px;
    border-top: 0px;
    font-size: 11px;
    border-left: 0px;
    color: #000000;
    border-bottom: 0px;
}

TD
{
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    text-align: left;
}

BODY, html, form, label
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
}

BODY
{
    color: Navy;
}

A:visited
{
    color: #0000ff;
    text-decoration: none;
}

A:Hover
{
    padding-left: 15px;
    background-attachment: fixed;
    color: White;
    font-weight: bold;
}

A
{
    color: #0000ff;
    text-decoration: none;
}

SELECT
{
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}
INPUT
{
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}

.lbuttons
{
    padding-left: 15px;
    background-attachment: fixed;
    color: #003c74;
    font-weight: bold;
}

P
{
    font-size: 11px;
    padding-bottom: 10px;
    margin: 5px 20px 0px;
    color: #000000;
}

.buttons
{
    border-right: #cccccc 1px solid;
    border-top: #999999 1px solid;
    font-size: 10px;
    background-attachment: fixed;
    border-left: #999999 1px solid;
    color: #003c74;
    border-bottom: #cccccc 1px solid;
}

.blackfore
{
    color: Black;
}
