﻿body
{
}

.accordionHeader
{
	font-family: Arial;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}

.accordionContent
{
	text-align:left;
	font-family: Arial;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
	border:solid 1px black;
}

.buttons
{
	font-family: Arial;
	font-size: 12px;
	border: 2px;
	border-color: Black;
	background-color: #DFDFDF;
	width: 80px;
}

.errorline
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.lbuttons
{
	font-weight:bold;
	color: Black; 
	font-weight:bold;
	font-family: Arial;
}

.midHeader
{
	color: Black;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.panelStandard
{
	background-color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	vertical-align:middle;
}

.generic
{
	font-family: Arial;
	font-size: 12px;
	background-color: #FFFFFF;
	
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	border:5px black;
	border-style:solid;
	background-color: #FFFFFF;
	font-family: Arial;
	font-size:12px;
}

.smallText
{
	color: Black;
	font-family: Arial;
	font-size: 12px;
	font-variant: small-caps;
}

.subHeader
{
	color: Black;
	font-family: Arial;
	font-size: 10px;
}

.testQuestion
{
	color: Black;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.validatorStyle
{
	font-family: Arial;
	font-size: small;
	color:Red;
}

.warning
{
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
	color: #BFBFBF;
}


.gridPager
{
	text-align: center;
	color: Black;
	font-weight: bold;
}

.HoverStyle
{
	font-size:small;
	padding:0px 5px 0px 5px;
	color:Black;
}

.linkButtons
{
	font-family: arial;
	font-size: 11px;
	color: Black;
	font-weight: bold;
}

.MenuStyle
{
	font-size:x-small;
	padding:0px 5px 0px 5px;
	color:Black;
}

.panelStandard
{
	background-color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
}

.SelectedStyle
{
	font-size:x-small;
	padding:0px 5px 0px 5px;
	color:White;
	background-color:Black;
}

.tabName
{
	padding-left:5px;
	font-weight:bold;
	font-size:medium;
	background-color:#B6CAE3;
	color:Navy;
}

.testQuestion
{
	color: Black;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.validatorStyle
{
	font-family: Arial;
	font-size: small;
	color:Red;
}

H1
{
	padding-left:5px;
	font-weight:bold;
	font-size:large;
	background-color:#B6CAE3;
	color:Navy;
}

H2
{
	padding-left:5px;
	font-weight:bold;
	font-size:medium;
	background-color:#B6CAE3;
	color:Navy;
}

H3
{
	padding-left:5px;
	font-weight:bold;
	font-size:small;
	background-color:#B6CAE3;
	color:Navy;
}

H4
{
	padding-left:5px;
	font-weight:bold;
	font-size:x-small;
	background-color:#B6CAE3;
	color:Navy;
}
BODY 
{
	COLOR: Black;
}

A:visited 
{
	COLOR: #0000ff; TEXT-DECORATION: none
}

A:Hover
{
	BACKGROUND-ATTACHMENT: fixed; 
	COLOR: Green;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

A
{	
	COLOR: #0000ff; 
	TEXT-DECORATION: none;
}

SELECT
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial
}
INPUT 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial
}

P 
{
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 10px; 
	MARGIN: 5px 20px 0px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial;
}

.TestBind
{
	font-family:Tahoma;
	font-size:10px;
	width:300px;
}

.Indent
{
    padding-left:5em;
}