﻿p
{
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
}

h2
{
    margin: 0 0 5px 0;
    padding: 0;
}

#client label, #clientlist label,
#site label, #sitelist label,
#room label, #roomlist label,
#professional label
{
    color: black;
}

.calendar
{
    width: 750px;
    display: inline-block;    
    
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    
    overflow: hidden;
}

#table-calendar
{   
    width: 100%;
    table-layout: fixed;
    font-size: 1em !important;  
     
    /*-moz-box-shadow: 0 0 4px #bebebe;
    -webkit-box-shadow: 0 0 4px #bebebe;
    box-shadow: 0 0 4px #bebebe;*/
}

#table-calendar thead tr .month-header
{
    font-family: 'Arial Baltic';
    font-size: 1.7em;
    padding: .2em 0 !important;
    color: #002136 !important;
    text-transform: inherit;
    background: #01847e;
    
    text-shadow: none;
}

#table-calendar thead tr .month-header label
{
    color: #fff;
}

#table-calendar thead tr th
{ 
    padding: 0 2px 2px 2px;
    font-weight: normal;
    text-transform: uppercase;
    border-style: solid;
    border-color: #002136;
    border-width: 0;
    background: #002136;
    color: #016984;
    
    text-shadow: 0px 1px 1px #000;
}

#table-calendar tbody tr td
{    
    font-family: Tahoma;
    color: #000;
    font-size: 1em;
    
    border-right: 1px solid #c4c4c4;
}

#table-calendar tbody tr td:hover
{
    color: #fff;
}

#table-calendar > tbody > tr > td:first-child
{
    border-left: 1px solid #c4c4c4;
}

#table-calendar > tbody > tr > td:last-child
{
    border-right: 1px solid #c4c4c4;
}

#table-calendar tbody tr .calendar-date
{
    height: 65px;
    padding: 2px;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 0 0 1px 0;

    background: #fff;
}

#table-calendar tbody tr .calendar-date:hover
{
    color: #fff;

    border-style: solid;
    border-color: #01847e;
    border-width: 0 0 1px 0;

    background: #01847e;    
}

#table-calendar tbody tr .calendar-day
{
    padding-left: 4px;
}

#table-calendar tbody tr .calendar-day label
{
    font-family: Gadget, sans-serif;
    font-size: 12pt;
}

#table-calendar tbody tr .calendar-clock
{
    background-image: url(../Images/Calendar/timer_12x12.png) !important;
    background-position: left;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    float: right;
}

#table-calendar tbody tr .calendar-non-date
{
    height: 65px;
    padding: 2px;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 0 0 1px 0;

    background: #fff;
}

#table-calendar tbody tr .calendar-icon
{
    text-align: center;
    vertical-align: middle;
}

/* **Details  */

#table-calendar tbody tr .details
{   
    display: none;
    position: absolute;
    font-weight: normal;
    
    background: #fff;    
    
    width: 300px;
    min-height: 275px;
    margin-left: 35px;
    
    /*-webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;*/
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;    
}

#table-calendar tbody tr .next-prev
{
    /*display: none;
    position: absolute;
    min-height: 20px;
    background: #01847e;    

    margin-left: 255px;
    margin-top: 50pt;
    z-index: 150;*/
    margin-top: -25pt;
    float: right;    
}

#table-calendar tbody tr .next-prev a
{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 5px;    
}

#table-calendar tbody tr .next-prev a:hover
{
    text-decoration: underline;
}

#table-calendar tbody tr .details .date
{
    background: #01847e;
    padding: 7px;
    color: #fff;
    
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#table-calendar tbody tr .details .home-right
{
    float: right;
    background-image: url(../Images/Calendar/home_16x16.png) !important;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

#table-calendar tbody tr .details .buttons
{
    margin-bottom: .7em;
    text-align: center;
    color: #bebebe;
    position: absolute;
    bottom: 0;
    font-size: 9pt;
}

#table-calendar tbody tr .details .day,
#table-calendar tbody tr .details .year
{
    font-size: .9em;
}

#table-calendar tbody tr .details .number
{
    font-size: 3em;
    display: inline;    
}

#table-calendar tbody tr .details .desc
{
    padding: 4px 7px;
}

#table-calendar tbody tr .details .desc label
{
    color: #696969;
    font-size: 6.5pt;
    text-transform: uppercase;
}

#table-calendar tbody tr .details .desc .desc-item-bottom
{
    margin-bottom: 3.5em;
    font-size: 9pt !important;
    color: #000;
}

#table-calendar tbody tr .details .desc .desc-item-editbottom
{
    margin-bottom: 3.5em;
    font-size: 7pt !important;
    color: #000;
}

#table-calendar tbody tr .details .desc .desc-item
{
    margin-bottom: .4em;
    font-size: 9pt !important;
    color: #000;
}

#table-calendar tbody tr .details .desc .detail-room
{
    background-image: url(../Images/Calendar/room_16x16.png) !important;
    background-repeat: no-repeat;   
    background-position: right;    
    padding: 4px 0;
}

#table-calendar tbody tr .details .desc .detail-timer
{
    background-image: url(../Images/Calendar/timer_16x16.png) !important;
    background-repeat: no-repeat;   
    background-position: right;
    padding: 4px 0;
}

.marked
{
    background: #002136 !important;
    color: #01847e;
    
    -moz-box-shadow: inset 0 0 4px #000;
    -webkit-box-shadow: inset 0 0 4px #000;
    box-shadow: inset 0 0 4px #000;    
}

.marked:hover
{
    background: #003556 !important;
}

.today
{
    /*border-left: 1px solid #01847e !important;*/
    font-weight: bold;
    color: #843d01 !important;
}

/* ** MISC */

.btnenrollnow
{
    background: #d93434;
    color: #fff;
    font-size: .9em;
    padding: 1px 6px;
    text-decoration: none;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btnenrollnow:hover
{
    background: #f51818;
}

.btndescription
{
    background: #48b3dd;
    color: #fff;
    font-size: .9em;
    padding: 1px 5px;
    text-decoration: none;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btndescription:hover
{
    background: #32c6d9;
}

.btnedit
{
    background: #666556;
    color: #d0c602;
    font-size: .9em;
    padding: 1px 6px;
    text-decoration: none;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btnedit:hover
{
    background: #8f8d7a;
}

#btnenrollnow:active    
{
    background: #f5c7d1;
}

#btndescription:active
{
    background: #aad932;
}

.btnedit:active
{
    background: #747248;
}

.prev,
.next
{
    margin: 5px 10px !important;
    color: #fff;
    text-decoration: none;
    height: 16px;
    width: 16px;
}

.prev
{
    float: left !important;
    background-image: url(../Images/Calendar/prev_16x16.png) !important;
    background-repeat: no-repeat;
}

.next
{
    float: right !important;
    background-image: url(../Images/Calendar/next_16x16.png) !important;
    background-repeat: no-repeat;
}

.prev:hover,
.next:hover
{
    color: #aad932;
}

/* POPUP MODAL */

.modal
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 99999;
    
    position: fixed;
    overflow: hidden;
    background: #000;

	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";	
}

.modal .layer
{    
    color: #01847e !important;
    overflow: auto;
    text-align: left;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    width: 35%;
    min-height: 400px;
    max-height: 600px;
    min-width: 500px;
    padding: 10px 20px;
    background: #fff !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
}

.modal .modal-header
{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: .5em;
}

.modal .modal-close
{
    float: right;
    text-decoration: none;
    color: #aaa;
    font-weight: normal;
}

/* POPUP MODAL :: BREAK */

.display-label
{
    margin: .5em 1.7em;
}

