﻿#dolphinnav li a:hover .notification
{
    opacity: 0.9;
}

.notification
{
    line-height: 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 16px;
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px 1px #707070;
    
    text-align: center;
    font-size: 10px;
    top: -10px;
    right: -5px;
    position: absolute;
}

.notification:hover
{
    line-height: 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 16px;
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px 1px #707070;
    
    text-align: center;
    font-size: 10px;
    top: -11px;
    right: -5px;
    position: absolute;
}

.red
{
    background-color: #E02424;
    /*border: 1px solid #E02424;*/
    background: -webkit-linear-gradient(top, #E02424 0%, #E02424 100%);
    background: -moz-linear-gradient(top, #E02424 0%, #E02424 100%);
    background: -ms-linear-gradient(top, #E02424 0%, #E02424 100%);
    background: -o-linear-gradient(top, #E02424 0%, #E02424 100%);
    background: linear-gradient(top, #E02424 0%, #E02424 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E02424', endColorstr='#E02424',GradientType=0 );
}

.importantalert_parent
{
    margin: 10px !important;
}

.importantalert
{
    height: 100px;
    width: 195px;
    padding: 10px;
    margin: 0 0 12px 0;
    /*-moz-box-shadow: 3px 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px 3px #ccc;*/
    -moz-box-shadow: 2px 2px 3px #E8EAED;
    -webkit-box-shadow: 2px 2px 3px #E8EAED;
    box-shadow: 2px 2px 3px #E8EAED;
}