﻿/*.progressBarContainer {
    float: right;
    padding-right: 10px;
}

#progressBar {
    width: 100%;
    height: 100%;
    background-color: #454545;
    padding: 0 !important;
    border-radius: 15px;
    border: 1px black solid;
}
 
#progressBar div {
    height: 100%;
    color: #fff;
    line-height: 22px;
    width: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
}

.red
{
    background-color: firebrick;
}

.yellow
{
    background-color: gold;
}

.green
{
    background-color: seagreen;
}

#progressBar span 
{
    float: left;
    position: absolute;
    line-height: 22px; 
    color: #fff;
    padding-left: 5px;
}

.progressBar
{
    padding: 0 !important;
}*/

#progressBar
{
    width: 100%;
    height: 100%;
    background-color: #292929;
}

#progressBar div
{
    height: 100%;
    color: #fff;
    line-height: 22px;
    width: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 30px;
}

.red
{
    background-color: firebrick;
}

.yellow
{
    background-color: gold;
}

.green
{
    background-color: seagreen;
}

#progressBar span
{
    float: left;
    position: absolute;
    line-height: 20px;
    color: #fff;
    padding-left: 10px;
}

.progressBar
{
    padding: 0 !important;
}

.progressBarContainer div 
{
    border-radius: 30px !important;
}
