<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_frontend_site.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" Title="Transcom University Testing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
</asp:Content>

