<%@ Control Language="C#" AutoEventWireup="true" CodeFile="userNavigationControl.ascx.cs"
    Inherits="controls_userNavigationControl" %>
<link href="~/styles/style.css" rel="stylesheet" type="text/css" />
<table cellpadding="1" width="100%">
    <tr>
        <td colspan="6" align="center">
            <%--<asp:Image ID="imgHeader" runat="server" ImageUrl="~/images/nuskill_1.png" />--%>
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/TranscomU_Testing_Small.png" />
            </td>
    </tr>
</table>
